* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #949393;
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(105, 105, 105, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 1.5%;
}

#SecondCard {
    background: #ffffff;
}

#ThirdClass {
    background: #ffffff;
}

.card_img {
    grid-area: image;
}

.card_img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
    width: 100%;
    height: 100;
}

.card_txt {
    grid-area: text;
    margin: 25px;
}

.card_txt .date {
    color: maroon;
    font-size: 13px;
}

.card_txt p {
    color: rgb(90, 90, 90);
    font-size: 15px;
    font-weight: 400;
}

.card_txt h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card_stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #ebc313;
}

.card_stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card_stats .type {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.card_stats .value {
    font-size: 20px;
    font-weight: 500;
}

.card_stats .border {
    border-left: 1px solid rgb(105, 0, 44);
}

.card_stats .value sup {
    font-size: 12px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}