* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(115deg, #494949 10%, #797777 90%);
}

.container {
    background: #ffffff;
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
}

.container .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(right, #FFCC00, #f78604, #FFCC00, #f78604);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container form {
    padding: 25px 0 0 0 0;
}

.container form .form-row {
    display: flex;
    margin: 28px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 18px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    color: #f89500f1;
    font-size: 14px;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: #ffffff;
}

.selector i {
    float: right;
    color: #f87102;
    margin-right: 550px;
    margin-top: 10px;
    cursor: pointer;
}

.selector i:hover {
    color: red;
    transform: rotate(-180deg);
    transition: 0.3s ease-in-out;
}

.selector:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-list {
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 320px;
    background-color: #ff7b00;
    top: 110%;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.2s linear, visibilty 0.2s linear;
}

.dropdown-list a {
    padding: 1rem;
    font-size: 15px;
    color: #ffffff;
    z-index: 1;
    display: block;
    padding: 5px 16px;
}

.dropdown-list a:hover {
    color: #fcce00;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before,
.input-data .underline:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #fcce00;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.underline:after,
.textarea textarea:focus~.underline:before,
.underline:after,
.input-data input:valid~.underline:before,
.underline:after,
.textarea textarea:valid~.underline:before,
.underline:after {
    transform: scaleX(1);
}

.file-btn {
    margin-left: 600;
}

.file-btn input[type="file"] {
    display: none;
    cursor: pointer;
}

.file-btn label {
    color: white;
    height: 50px;
    width: 200px;
    background-color: #ff7b00;
    position: absolute;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin-left: 450px;
    margin-top: -15px;
    cursor: pointer;
    font-weight: 400;
}

.submit-btn .input-data {
    height: 45px !important;
    width: 25% !important;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    background: -webkit-linear-gradient(right, #FFCC00, #f87102, #FFCC00, #f87102);
}

.submit-btn .input-data:hover .inner {
    left: 0;
}

.submit-btn .input-data input {
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .container .text {
        font-size: 30px;
    }
    .container form {
        padding: 10px 0 0 0 0;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0 !important;
    }
    .file-btn label {
        margin-top: 0px;
        margin-left: 200px;
    }
    .submit-btn .input-data {
        width: 40%!important;
    }
}